[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "UniIsoRegression"]
	path = UniIsoRegression
	url = https://github.com/xzp1995/uniisoregression
